/* This is a comment in CSS for reference */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header-box {
    display: flex;
    flex: 1;
    min-height: 400px;
    background-color: #1f2937;
    padding: 10px;
    flex-wrap: wrap;
}


.header {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    margin: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-left: 150px;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    margin-right: 150px;
}


a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}


.pic img {
    opacity: .7;
    border-radius: 20px;
    width: 300px;
    height: auto;
}


.header-info {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    margin: auto;
    margin-left: 20%;
    justify-content: center;
    flex-wrap: wrap;
}


.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}


.desc {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}


button {
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #3882F6;
    padding: 10px 40px;
}

.placeholder {
    background-image: url(../japan-trip/images/placeholder.jpg);
    height: 250px;
    width: 500px;
    margin-left: 50px;

}

.acbut button {
    border: 2px solid #E5E7EB;
    margin-left: 200px;
}

.intro {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 50px 0 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.text {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 18px;
}

.quotebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background: #E5E7EB;
    height: 400px;
    margin-top: 100px;
    padding: 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quoter {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 50px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #3882F6;
    width: 1000px;
    min-height: 100px;
    padding: 20px 100px;
    margin: auto;
    margin-bottom: 100px;
    flex: 1;
}

.call {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bolder;
}

.actext {
    color: #E5E7EB;
    font-size: 18px;
}

footer {
    display: flex;
    background: #1f2937;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    flex: 1;
}